.customtextarea {
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 10px;
}

.action-buttons[_ngcontent-c69] button[_ngcontent-c69] {
    border-radius: 3px;
}

.action-buttons button:first-of-type {
    margin-left: 0;
}

.green-button[_ngcontent-c69] {
    background-color: #24a394;
    color: #fff;
}

.action-buttons button {
    margin-left: 10px;
    background-color: #24a394;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.014), 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 1px -2px rgba(0,0,0,.01);
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity,transform;
    transition: .3s ease-out;
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #269967;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.btn, .btn-flat, .btn-floating, .btn-large {
    outline: 0;
}

.btn, .btn-flat, .btn-large {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.btn, .btn-floating, .btn-large, .card, .card-panel, .collapsible, .dropdown-content, .side-nav, .toast, .z-depth-1, nav {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

html {
    font-size: 14px;
}

div[_ngcontent-c64], p[_ngcontent-c64] {
    color: #909090;
}